<ion-header>
  <ion-navbar>
    <ion-title>
      History
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <button ion-item *ngFor="let data of Weeks" (click)="data.Expanded=!data.Expanded">
      <ion-label>{{data.Week | date: 'dd MMM yyyy'}}
        <div item-end>{{PercentComplete(data.Tasks)}}</div>
        <ion-list *ngIf="data.Expanded">
          <ion-item *ngIf="data.Tasks.length === 0">
            <ion-label>No Data</ion-label>
            <ion-checkbox item-end></ion-checkbox>
          </ion-item>
          <ion-item *ngFor="let task of data.Tasks" (click)="$event.stopPropagation()">
            <ion-label>{{task.Task.Name}}</ion-label>
            <ion-checkbox item-end [(ngModel)]="task.IsComplete" disabled="!settings.HistoryEditable"></ion-checkbox>
          </ion-item>
        </ion-list>
      </ion-label>
    </button>
  </ion-list>
</ion-content>
