<ion-header>
  <ion-navbar>
    <ion-title>
      History
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <button ion-item *ngFor="let data of Weeks" (click)="data.Expanded=!data.Expanded">
      {{data.Week | date: 'dd MMM yyyy'}}
      {{PercentComplete(data.Tasks)}}
      <ion-list *ngIf="data.Expanded">
        <ion-item>TEST ITEM</ion-item>
        <!-- <ion-item *ngFor="let task of data.Tasks">
          {{task.Task.Name}}
        </ion-item> -->
      </ion-list>
    </button>
  </ion-list>
</ion-content>
