<ion-header>
  <ion-navbar>
    <ion-title>
      History
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let data of Weeks" (click)="expandData(data)">
      <ion-label>
        <span text-left>{{data.Week | date: 'dd MMM yyyy'}}</span>
        <span style="float:right;">{{PercentComplete(data.Tasks)}}</span>
        <ion-list *ngIf="data.Expanded">
          <ion-item *ngFor="let task of data.Tasks">
            <ion-label>{{task.Task.Name}}</ion-label>
            <ion-checkbox item-end [(ngModel)]="task.IsComplete" [disabled]="!settings.HistoryEditable" (click)="$event.stopPropagation()"></ion-checkbox>
          </ion-item>
        </ion-list>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>